* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101010;
  overflow-x: hidden;
}

.logo {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 100;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 160px;
  height: 160px;
  background: #101010;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 130px;
  left: 15px;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  -webkit-box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
          box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
  position: fixed;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
  position: fixed;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.25s 0s ease-in-out;
  transition: 0.25s 0s ease-in-out;
  list-style: none;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.landing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing p {
  font-size: 22px;
  color: #e6f1ff;
  letter-spacing: 2px;
}

.landing #name {
  margin: 20px 0px;
  -webkit-animation: fill 0.5s ease forwards 3s;
          animation: fill 0.5s ease forwards 3s;
}

.landing #name path:nth-child(1) {
  stroke-dasharray: 281px;
  stroke-dashoffset: 281px;
  -webkit-animation: line-anime 2s ease forwards;
          animation: line-anime 2s ease forwards;
}

.landing #name path:nth-child(2) {
  stroke-dasharray: 307px;
  stroke-dashoffset: 307px;
  -webkit-animation: line-anime 2s ease forwards 0.2s;
          animation: line-anime 2s ease forwards 0.2s;
}

.landing #name path:nth-child(3) {
  stroke-dasharray: 330px;
  stroke-dashoffset: 330px;
  -webkit-animation: line-anime 2s ease forwards 0.4s;
          animation: line-anime 2s ease forwards 0.4s;
}

.landing #name path:nth-child(4) {
  stroke-dasharray: 298px;
  stroke-dashoffset: 298px;
  -webkit-animation: line-anime 2s ease forwards 0.6s;
          animation: line-anime 2s ease forwards 0.6s;
}

.landing #name path:nth-child(5) {
  stroke-dasharray: 126px;
  stroke-dashoffset: 126px;
  -webkit-animation: line-anime 2s ease forwards 0.8s;
          animation: line-anime 2s ease forwards 0.8s;
}

.landing #name path:nth-child(6) {
  stroke-dasharray: 396px;
  stroke-dashoffset: 396px;
  -webkit-animation: line-anime 2s ease forwards 1s;
          animation: line-anime 2s ease forwards 1s;
}

.landing #name path:nth-child(7) {
  stroke-dasharray: 281px;
  stroke-dashoffset: 281px;
  -webkit-animation: line-anime 2s ease forwards 1.2s;
          animation: line-anime 2s ease forwards 1.2s;
}

.landing #name path:nth-child(8) {
  stroke-dasharray: 298px;
  stroke-dashoffset: 298px;
  -webkit-animation: line-anime 2s ease forwards 1.4s;
          animation: line-anime 2s ease forwards 1.4s;
}

.landing #name path:nth-child(9) {
  stroke-dasharray: 216px;
  stroke-dashoffset: 216px;
  -webkit-animation: line-anime 2s ease forwards 1.6s;
          animation: line-anime 2s ease forwards 1.6s;
}

.landing #name path:nth-child(10) {
  stroke-dasharray: 216px;
  stroke-dashoffset: 216px;
  -webkit-animation: line-anime 2s ease forwards 1.8s;
          animation: line-anime 2s ease forwards 1.8s;
}

.landing #name path:nth-child(11) {
  stroke-dasharray: 314px;
  stroke-dashoffset: 314px;
  -webkit-animation: line-anime 2s ease forwards 2s;
          animation: line-anime 2s ease forwards 2s;
}

.landing #name path:nth-child(12) {
  stroke-dasharray: 348px;
  stroke-dashoffset: 348px;
  -webkit-animation: line-anime 2s ease forwards 2.2s;
          animation: line-anime 2s ease forwards 2.2s;
}

@-webkit-keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #faff00;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #faff00;
  }
}

@media screen and (max-width: 768px) {
  .landing #name {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .landing #name {
    width: 90%;
    margin: -10px 0;
  }
}

@media screen and (max-width: 320px) {
  .landing p {
    font-size: 18px;
    letter-spacing: 1.2px;
  }
}

.square {
  width: 200px;
  height: 200px;
  position: fixed;
  opacity: 0.05;
  border: 2px solid #faff00;
  background-color: transparent;
}

.top {
  right: -100px;
  top: 150px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.bottom {
  left: -100px;
  bottom: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
}

.section-heading h1 {
  font-size: 64px;
  color: #e6f1ff;
  letter-spacing: 4px;
}

.section-heading p {
  margin-top: 10px;
  font-style: italic;
  font-size: 20px;
  color: rgba(230, 241, 255, 0.3);
  letter-spacing: 2px;
}

#about {
  width: 100%;
  height: 90vh;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

#about .content .text {
  width: 50%;
  color: rgba(230, 241, 255, 0.3);
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 2;
  font-weight: 100;
  padding: 20px;
}

#about .content .btn {
  margin-top: 20px;
}

#about .content .btn a {
  text-decoration: none;
  color: #e6f1ff;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #e6f1ff;
}

#about .content .btn a:hover {
  border: 1px solid #faff00;
  color: #faff00;
}

@media screen and (max-width: 768px) {
  #about {
    margin-top: 100px;
  }
  #about .content .text {
    width: 60%;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 626px) {
  #about {
    margin-top: 100px;
  }
  #about .content .text {
    width: 80%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */