@import "./variable";

nav {
  position: fixed;
  top: 0;

  background-color: $secondary-color;

  width: 100%;
  height: 8vh;
  padding-top: 14px;

  z-index: 999;

  transition: top 0.2s ease-in-out;
  box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.1);
}

.logo {
  float: left;
  margin-left: 20px;
  margin-top: -4px;
  font-family: "Poppins", sans-serif;

  transition: top 0.2s ease-in-out;

  a {
    font-size: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    color: $text-color;

    span {
      color: $primary-color;
    }

    &:hover {
      color: $primary-color;

      span {
        color: $text-color;
      }
    }
  }
}

nav ul {
  float: right;
  li {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 48px;
    }

    &:last-child {
      margin-right: 24px;
    }

    a {
      display: inline-block;
      outline: none;
      color: $text-color;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      letter-spacing: 1.2px;
      transition: top 0.2s ease-in-out;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background: $text-color;
    opacity: 0;
    display: none;

    transition: all 0.2s ease-in-out;

    ul {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding-right: 2rem;
      transition: all 0.2s ease-in-out;

      li {
        display: block;
        float: none;
        width: 100%;
        text-align: right;
        margin-bottom: 10px;

        &:not(:first-child) {
          margin-left: 0;
        }

        a {
          padding: 10px 24px;
          opacity: 0;
          color: $secondary-color;
          font-size: 18px;
          letter-spacing: 1.2px;
          transition: all 0.2s ease;
          display: none;
        }
      }
    }
  }

  .nav-btn {
    position: absolute;
    right: 2rem;
    display: block;
    cursor: pointer;
    z-index: 9998;
    i {
      display: block;
      width: 25px;
      height: 4px;
      background: $text-color;

      &:nth-child(1) {
        margin-top: 2px;
      }

      &:nth-child(2) {
        margin-top: 7px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .nav-wrapper {
    width: 100%;
  }
}

#nav-input:checked + .nav-btn i {
  background: $secondary-color;
  transition: transform 0.2s ease;
}

#nav-input:checked + .nav-btn i:nth-child(1) {
  transform: translateY(5px) rotate(-135deg);
}

#nav-input:checked + .nav-btn i:nth-child(2) {
  transform: translateY(-6px) rotate(135deg);
}

#nav-input:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
  display: block;
}

#nav-input:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  display: block;
  transform: translateX(0);
}

.hidden {
  display: none;
}
