// Variables Import
@import "./variable";

.skills {
  list-style: none;
  font-size: 20px;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  i {
    margin-right: 20px;
    font-size: 30px;
    margin-top: 20px;
  }

  #js {
    color: rgb(232, 212, 77);
  }
  #react {
    color: #61dbfb;
  }
  #redux {
    color: #764abc;
  }
  #html {
    color: #f16529;
  }
  #css {
    color: #264de4;
  }
  #sass {
    color: #cd6799;
  }
  #figma {
    color: #0acf83;
  }
  #git {
    color: black;
  }
}
