// Variables Import
@import "./variable";

// Global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
//Html
html {
  scroll-behavior: smooth;
}

// Body
body {
  background-color: $bg-color;
  overflow-x: hidden;
}

// Header Style Import
@import "./header";

// Landing Style Import
@import "./landing";

.square {
  width: 200px;
  height: 200px;

  position: fixed;
  opacity: 0.05;

  border: 2px solid $primary-color;

  background-color: transparent;
}

.top {
  right: -100px;
  top: 150px;
  transform: rotate(-30deg);
}
.bottom {
  left: -100px;
  bottom: 0;
  transform: rotate(30deg);
}

// Section heading
.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 64px;
    color: $secondary-color;
    letter-spacing: 4px;
  }
  p {
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
    color: $text-color;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 425px) {
  .section-heading {
    h1 {
      font-size: 40px;
    }
  }
}
// About Section Style
@import "./about";
